<input type=checkbox id=desync-input>
<input type=number id=delay-input value=2>
<br>
<canvas width=512 height=512 id=testcanvas></canvas>
<script>
const canvas = document.getElementById('testcanvas');
const desyncInput = document.getElementById('desync-input');
const delayInput = document.getElementById('delay-input');

let ctx, delay;
function init() {
	ctx = canvas.getContext('2d', {
		alpha: false,
		desynchronized: desyncInput.checked,
	});
	delay = Number(delayInput.value);
}
init();

desyncInput.onchange = delayInput.onchange = init;

function drawPoint(x, y, colour) {
	ctx.fillStyle = colour;
	ctx.fillRect(x - 1, y - 1, 3, 3);
}

let lx = 0, ly = 0;
canvas.onmousemove = ({offsetX: x, offsetY: y, movementX: dx, movementY: dy}) => {
	ctx.clearRect(0, 0, canvas.width, canvas.height);
	drawPoint(x, y, '#19F');
	drawPoint(x + delay * (dx + lx) / 2, y + delay * (dy + ly) / 2, '#F00');
	lx = dx; ly = dy;
}

document.onkeydown = () => {
	ctx.fillStyle = '#FFF';
	ctx.fillRect(0, 0, canvas.width, canvas.height);
}

document.onkeyup = () => {
	ctx.clearRect(0, 0, canvas.width, canvas.height);
}
</script>
